.titulo-oradores {
    text-align: center;
    padding-top: 1.5rem;
}
.titulo-oradores div{
    font-size: 14px;
    
}
.container-oradores {
    margin-top: 20px;
    padding: 1rem 10rem;
}

.card:hover{
    transform: scale(1.01);
    background-color: rgb(221, 218, 218);
    cursor: pointer;
}

.card-text {
    font-size: 14px;
}